body {
  background:url(icons/pixel_water.jpg) repeat left top;
}
.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.map-component > div {
  margin: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header > div {
  letter-spacing: 0.1ch; 
  font-weight: bold;
  color: black;
  background: white;
  opacity: 0.9;
}
.title {
  border: 2px solid black;
  padding: 6px 15px 6px 15px;
  border-radius: 2px;
  font-size: 25px;
}
@media (max-width: 600px) {
  .options {
    display:flex;
    flex-direction: column;
  }
}
.search-title {
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}
.target {
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4ch;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background: black; 
  color: white;
  border-radius: 2px;
  padding: 6px 14px;
}
.target:hover {
  box-shadow: 3px 3px 3px white;
}
:target {
  background: white;
  color: black;
}
:target:hover {
  box-shadow: 3px 3px 3px black;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.instructions-bttn {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 2px;
  border: 2px dotted black;
  padding: 2px 10px;
  letter-spacing: 0.3ch;
  font-family: san-serif; 
  font-weight: bold;
  color: black;
  background: white;
  opacity: 0.9;
}
.instructions-bttn:hover {
  border:2px dotted white;
  box-shadow: 2px 2px 2px white;
  background: black;
  color: white;
}
input {
  margin: 5px;
  padding: 5px;
  border: none;
  width: 60px;
  font-weight: bold;
  border: 1px solid black;
}
button {
  height: 27px;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  background: white;
  color: black;
}
#demo {
  height: 500px;
  width: 1000px;
  background: black;
  opacity: 0.9;
  border-radius: 2px;
}
.shadow-box {
  position: fixed;
  z-index: 1000;
  max-width: 1100px;
  margin: 50px auto;
  top: 5vh;
  background: grey;
  box-shadow: 5px 5px 20px black;
  color: white;
  letter-spacing: 0.2ch;
  border-radius: 2px;
  max-height: 90vh;
  overflow: scroll;
  padding: 10px;
}
@media (max-width: 600px) {
  .shadow-box {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: scroll;
    width: auto;
  }
}
.box-title-close {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.2ch;
}
.box-title-wrap {
  width: 100%;
  text-align: center;
}
.box-title {
  display: inline-block;
  letter-spacing: 0.3ch;
  font-size: 18px;
  color: black;
  border: 2px solid black;
  padding: 5px 16px;
  border-radius: 2px;
  background: white;
  box-shadow: 1px 1px 8px black;
}
.close-window {
  border: 2px solid black;
  border-radius: 2px;
  padding: 1px 4px 1px 6px;
  cursor: pointer;
  background: lightgrey;
  color: black;
  font-size: 18px;
  text-align: center;
}
.close-window:hover {
  border: 2px solid white;
  background: black;
  color: white;
}
.box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.box-content > div {
  display: flex;
  flex: 1;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 4px black;
  border-radius: 2px;
  background: #3C3C3C;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.3ch;
}
.box-content > div:last-child {
  margin-right: 0px;
}
@media (max-width: 600px) {
  .box-content {
    flex-direction: column;
  } 
  .box-content > div {
    margin: 0px 0px 10px 0px;
  }
  .box-content > div:last-child {
    margin: 0px;
  }
}
.boxy-title {
  border: 1px solid white;
  padding: 3px 16px;
}
