.notation-list {
  margin-top: 8px;
}
.notation-title {
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}
.notation {
  background: lightgrey;
  color: black;
  margin: 5px;
  border-radius: 3px;
  padding: 3px 6px;
  box-shadow: 2px 2px 2px black;
  font-size: 11px;
}
.example {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 11px;
}
.example > div {
  margin: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.note {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  font-style: italic;
  color: yellow;
}
.dummy-bttn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  background: black; 
  color: white;
  border-radius: 3px;
  padding: 5px 12px;
  box-shadow: 1px 1px 2px white;
}
.dummy-input {
  padding: 3px;
  border: none;
  width: 60px;
  font-weight: bold;
  border: 1px solid black;
  background: white;
  color: black;
}