.notation-list {
  margin-top: 8px;
}
.notation-title {
  font-size: 12px;
  margin-top: 25px;
  text-align: center;
}
.notation {
  background: lightgrey;
  color: black;
  margin: 5px;
  border-radius: 3px;
  padding: 3px 6px;
  box-shadow: 2px 2px 2px black;
  font-size: 11px;
}
.example {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 11px;
}
.example > div {
  margin: 5px;
}
.note {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  font-style: italic;
  color: yellow;
}
