.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid red;
}
.map-component > div {
  margin: 10px;
}
.options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.search-title {
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}
.target {
  margin: 10px;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px;
}
:target {
  border-radius: 5px;
  background-color: lightseagreen;
}