.author {
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
}
p {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 14px;
}
.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 200px;
  bottom: 10px;
}
.link {
  min-height: 22px;
  min-width: 66px;
  background-size: 100%;
  border-radius: 2px;
  margin: 8px;
  box-shadow: 4px 4px 2px black;
}
.github {
  background-image: url('./icons/github.png');
}
.linkedin {
  background-image: url('./icons/linkedin.png');  
}
.facebook {
  background-image: url('./icons/facebook.png');  
}